
<div  class="container py-5">
    <div class="row">
        <div class="col-md-4 d-flex align-items-center">
            <h2>Trending TV<br>
            Right Now
            </h2>
        </div>
        <div *ngFor= 'let tv of trendingTv' class="col-md-2">
            <a [routerLink]="['/moviedetails' , tv.id]">
                <div class="tv position-relative py-3">
                
                    <img [src]="imgPrefix+tv.poster_path" class="w-100">
                    <h5 class="p-3">{{tv.title}}</h5>
                    
                    <div class="vote ">
                        {{tv.vote_average}}
                    </div>
                </div>
            </a>
            
            
        </div>
        
    </div>
</div>